<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.coralogix.otel-collector</string>

    <key>ProgramArguments</key>
    <array>
        <string>INSTALL_DIR/otelcol-contrib</string>
        <string>--config</string>
        <string>INSTALL_DIR/config.yaml</string>
    </array>

    <key>EnvironmentVariables</key>
    <dict>
        <key>CORALOGIX_PRIVATE_KEY</key>
        <string>CORALOGIX_API_KEY_PLACEHOLDER</string>
        <key>CX_APPLICATION_NAME</key>
        <string>MACHINE_NAME_PLACEHOLDER</string>
    </dict>

    <key>RunAtLoad</key>
    <true/>

    <key>KeepAlive</key>
    <true/>

    <key>StandardOutPath</key>
    <string>INSTALL_DIR/collector.log</string>

    <key>StandardErrorPath</key>
    <string>INSTALL_DIR/collector.log</string>

    <key>ThrottleInterval</key>
    <integer>30</integer>
</dict>
</plist>
